packages:
  yum:
    mariadb105: []
    mariadb105-server: []

commands:
  01_start_mariadb:
    command: |
      systemctl enable mariadb.service
      systemctl start mariadb.service
    ignoreErrors: true

  02_create_database:
    # Get the DB password from Elastic Beanstalk environment variables
    DB_PASSWORD=$(/opt/elasticbeanstalk/bin/get-config environment -k DB_PASSWORD)
    command: |
      mysql -u root -e "CREATE DATABASE IF NOT EXISTS goober_box;"
      mysql -u root -e "CREATE USER IF NOT EXISTS 'root'@'localhost' IDENTIFIED BY '${DB_PASSWORD}';"
      mysql -u root -e "GRANT ALL PRIVILEGES ON goober_box.* TO 'root'@'localhost';"
      mysql -u root -e "FLUSH PRIVILEGES;"
    ignoreErrors: true