option_settings:
  aws:elasticbeanstalk:application:environment:
    DB_HOST: database-goober.ctaociq2u12c.us-east-2.rds.amazonaws.com 
    DB_USERNAME: admin_gchar_8082
    DB_PASSWORD: YQK6tqfhLIMPGBssWNn)hMO9S5wk
    DB_NAME: goober_box
    OPENAI_API_KEY: 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
    ELEVENLABS_API_KEY: sk_61745949f04d1a5fcce8ca0218f55a9d42a6c8827e60e0c1
    STABILITY_API_KEY: sk-NjlhKsEo8edFgBmeYr7eP06PYB9IRGGKiSz1XR58IRP89sZ4
    APP_ENV: production