packages:
  yum:
    wget: []
    epel-release: []

commands:
  01_import_gpg_key:
    command: |
      rpm --import https://yum.mariadb.org/RPM-GPG-KEY-MariaDB

  02_create_repo:
    command: |
      cat > /etc/yum.repos.d/MariaDB.repo <<EOF
      [mariadb]
      name = MariaDB
      baseurl = https://yum.mariadb.org/10.5/centos7-amd64
      gpgkey=https://yum.mariadb.org/RPM-GPG-KEY-MariaDB
      gpgcheck=1
      EOF

  03_install_mariadb:
    command: |
      yum install -y MariaDB-server MariaDB-client

  04_start_mariadb:
    command: |
      systemctl enable mariadb
      systemctl start mariadb
